.note {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: lightskyblue;
    border-radius: 5px;
    padding: 5px;
}

.note-content {
    display: block;
    margin: 10px;
}

.note-content-important {
    display: inline-flex;
    align-items: center;
    font-size: 10px;
    margin: 10px 0;
    background-color: red;
    font-weight: bold;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}

.note-content-title {
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.note-content-description {
    display: block;
    margin: 10px 0;
}

.note-del {
    background-color: white;
    display: block;
    text-align: center;
    font-size: 26px;
    height: 35px;
    width: 35px;
    margin: 10px;
    border-radius: 50%;
    min-width: 35px;
}

.note-del:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.note:last-child {
    margin-bottom: 0;
}

.category-item {
    display: inline-block;
    font-style: italic;
    font-size: 12px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    padding: 2px 5px;
}

.note-owner {
    font-size: 12px;
}

.note-id {
    font-size: 10px;
    margin: 10px 0;
}