.add {
}

.add-form .add-text-field {
    display: block;
}

.add-form .add-submit-wrapper {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.add-form .add-submit {
    display: block;
}

.debug {
    display: flex;
    flex-wrap: wrap;
}

.debug pre {
    margin-right: 50px;
}

.error-message {
    color: red !important;
    font-size: 12px;
}