/* This applies from 0px to 600px */
.container {
    max-width: 100%;
}

@media (min-width: 800px) {
    .container {
        display: block;
        margin: 0 auto;
        max-width: 1000px;
        height: 100%;
    }
}