/* This applies from 0px to 600px */

.navbar {
    display: block;
    background-color: dodgerblue;
    margin-top: -1px;
}

.navbar a {
    display: inline-block;
    color: white;
    border-radius: 5px;
    margin-bottom: 4px;
    padding: 6px;
    text-decoration: none;
}

.navbar a:first-child {
    margin-left: 10px;
}

.navbar a:hover {
    background-color: black;
}

@media (min-width: 800px) {
    .navbar {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}