/* This applies from 0px to 600px */

.content {
    border: 2px solid dodgerblue;
    border-radius: 5px;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}

@media (min-width: 800px) {
    .content {
        margin-left: 0;
        margin-right: 0;
    }
}